// Uncomment if you want to use normalize.css. Do not forget to do: $ bower install normalize.scss
@import "../_components/normalize.scss/_normalize.scss";
@import "_fontcustom";

@import "compass/css3";

// Uncomment this if you use svg icon with fontcustom
// @font-face {
// 	font-family: "icons";
// 	src: font-url("icons/icons.eot?#iefix") format("embedded-opentype"),
// 		font-url("icons/icons.woff") format("woff"),
// 		font-url("icons/icons.ttf") format("truetype"),
// 		font-url("icons/icons.svg#fontcustom") format("svg");
// 	font-weight: normal;
// 	font-style: normal;
// }
// @import "icons";

html,
body {
  font-family: Arial, Helvetica, serif;
  background: #F4F5FC;
}

header {
  background: #2B2B2B;
  border-bottom: 3px solid #36BDDB;
}
